
{% extends 'admin_web/base.html' %}

{% block content %}
<a href="{% url 'user_list' %}" class="btn btn-sm btn-outline-info float-end me-1"><i class="fas fa-angle-left"></i> <span class="btn-header">Return</span></a>
<div class="container mt-4">
    <h2>User Roles</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Account Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.is_admin %}Admin{% else %}User{% endif %}</td>
                <td>
                    <a href="{% url 'change_role' user.id %}" class="btn btn-sm btn-outline-warning">
                        Change to {% if user.is_admin %}User{% else %}Admin{% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
